<h2>Search for a stock</h2>

<form action="/stocks/results">
    <label>
        Stock symbol:
        <input name="symbol" placeholder="AAPL" required>
    </label>
    <button>Search</button>
</form>