body {
    background-color: aliceblue;
    min-height: 300vh;
    background-image: url(http://www.placekitten.com/2000/3000);
    background-size: cover;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    font-size: 140%;
}

.kitty-css {
    display: none;
    background-image: url(http://www.placekitten.com/800/1000);
    min-height: 10em;
    background-attachment: fixed;
}

.kitty-js {
    background-image: url(http://www.placekitten.com/900/900);
    min-height: 10em;
    background-size: cover;
}

.bubble {
    position: absolute;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    background-color: lightblue;
    border: 1px solid darkblue;
    opacity: 0.4;
}