<h1>Asset Helpers</h1>

<%= image_tag "funny.jpg", :alt => 'A child smoking' %>

<%= image_tag 'http://www.fillmurray.com/500/650', :alt => 'A very haggard Bill Murray', :class => 'hotdogs' %>

<p>
    There are also helpers for <code>video_tag, audio_tag</code>
</p>
