<h1>Feelings Blog</h1>

<div class="post">
    <h2>First Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ex excepturi odit doloremque vel nam incidunt voluptatem nemo explicabo rem earum alias magni aut, debitis veritatis dicta in, sed nulla.</p>
        <p>Ex quo rerum illo amet iste sapiente, modi ratione dignissimos omnis molestiae ullam explicabo saepe quasi sunt. Fugiat voluptatibus cum qui dolorem itaque vel beatae ipsa, animi quibusdam voluptate? Animi.</p>
    </div>
</div>

<div class="post">
    <h2>Second Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ex excepturi odit doloremque vel nam incidunt voluptatem nemo explicabo rem earum alias magni aut, debitis veritatis dicta in, sed nulla.</p>
        <p>Ex quo rerum illo amet iste sapiente, modi ratione dignissimos omnis molestiae ullam explicabo saepe quasi sunt. Fugiat voluptatibus cum qui dolorem itaque vel beatae ipsa, animi quibusdam voluptate? Animi.</p>
    </div>
</div>

<div class="post">
    <h2>Third Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ex excepturi odit doloremque vel nam incidunt voluptatem nemo explicabo rem earum alias magni aut, debitis veritatis dicta in, sed nulla.</p>
        <p>Ex quo rerum illo amet iste sapiente, modi ratione dignissimos omnis molestiae ullam explicabo saepe quasi sunt. Fugiat voluptatibus cum qui dolorem itaque vel beatae ipsa, animi quibusdam voluptate? Animi.</p>
    </div>
</div>

<div class="post">
    <h2>Fourth Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ex excepturi odit doloremque vel nam incidunt voluptatem nemo explicabo rem earum alias magni aut, debitis veritatis dicta in, sed nulla.</p>
        <p>Ex quo rerum illo amet iste sapiente, modi ratione dignissimos omnis molestiae ullam explicabo saepe quasi sunt. Fugiat voluptatibus cum qui dolorem itaque vel beatae ipsa, animi quibusdam voluptate? Animi.</p>
    </div>
</div>

<hr>

<div class="notification">
    This is a notification
</div>

<div class="error">
    This is error
</div>

<div class="success">
    This is success
</div>