<div class="row">
    <div class="col-md-3">
        <h3>Headline</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet sint aliquid, tempora delectus voluptatibus inventore ad facere eius recusandae, necessitatibus atque! Cupiditate, reprehenderit sunt! Voluptatem tenetur temporibus sed maxime omnis?</p>
    </div>

    <div class="col-md-6">
        <h2>MAJOR HEADLINE</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, praesentium quod doloribus explicabo molestiae minus impedit asperiores accusantium, maxime tempora, dicta suscipit? Saepe aliquam, aspernatur excepturi cumque reiciendis corporis sapiente.</p>
        <p>Pariatur ipsam alias dicta omnis corrupti, soluta totam natus earum ratione quos incidunt quis qui harum temporibus voluptates? Recusandae corporis dolore aspernatur autem ducimus illum minima natus ipsa repellat similique!</p>
    </div>

    <div class="col-md-3">
        <h3>Headline</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus dicta similique rem, sapiente quis aut quaerat rerum voluptas, aliquid ex accusantium atque veritatis suscipit. Eveniet sequi soluta ipsum eius laborum!</p>
    </div>
</div>