<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <link rel="stylesheet" href="/css/calculator.css">
</head>
<body>

    <h1>I'M THE OPERATOR OF MY POCKET CALCULATOR</h1>

    <nav>
        <a href="/">Home</a>
        <a href="http://ga.co/">General Assembly</a>
    </nav>

    <%= yield %>

</body>
</html>