<h1>New butterfly</h1>

<form action="/butterflies" method="post">
    <label>
        Name:
        <input name="name" placeholder="Red Admiral" required>
    </label>

    <label>
        Family:
        <input name="family" placeholder="Skipper">
    </label>

    <label>
        Image:
        <input type="url" name="image" placeholder="http://...">
    </label>

    <button>Create butterfly</button>
</form>
