<h1>Edit plant</h1>

<form action="/plants/<%= @plant.id %>" method="post">
    <label>
        Name:
        <input name="name" placeholder="Monstera" required value="<%= @plant.name %>">
    </label>

    <label>
        Image:
        <input type="url" name="image" placeholder="http://..." value="<%= @plant.image %>">
    </label>

    <button>Update plant</button>
</form>
